@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass ";


body{
 background-color:rgb(247, 242, 242);}


  table {
        border-collapse:collapse;
        border: 1px solid #ccc;
        }

        table tr th{ border:0; }
        table tr td{ border:0; }
        table tr td{ border: 1px solid #ccc; 
        
        }
